@page "/"

@using TwitchLib.Api
@using TwitchLib.Api.Helix.Models.Users.GetUsers
@using System.Net
@using Gamebot.Helper
@inject NavigationManager NavigationManager;

<PageTitle>Index</PageTitle>

<button class="btn btn-primary" @onclick="NavigateToAuthorization">Add bot to channel!</button>

@code {
    TwitchAPI api;
    private bool isProcessing = false;
    TwitchOptions _options = new();
    
    protected override void OnInitialized()
    {
        var config = new ConfigurationBuilder()
            .SetBasePath(Directory.GetCurrentDirectory())
            .AddJsonFile("appsettings.json")
            .AddEnvironmentVariables()
            .Build();

        config.GetSection(TwitchOptions.Twitch).Bind(_options);
        api = new TwitchAPI { Settings = { ClientId = _options.ClientId } };
    }

    private void NavigateToAuthorization()
    {
        var authUrl = Helpers.GetAuthorizationCodeUrl(
            _options.ClientId,
            _options.RedirectUri,
            Helpers.GetScopes()
            );
        NavigationManager.NavigateTo(authUrl);
    }
}